services:
  ollama:
    build: .  # Build from the current directory (deployment/) using the Dockerfile
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama
      - ./:/root/models # Mount deployment/ to /root/models to access Modelfile and GGUF
    restart: always

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - ./open-webui:/app/backend/data
    restart: always
    depends_on:
      - ollama
